:root {
  --font-main: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
  --font-title: 'Bebas Neue', sans-serif;
  --color-green: #306F5D;
}

body {
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  margin: 0;
  padding: 0.5rem;
  font-family: var(--font-main);
  touch-action: none;
  background-color: #f8f8f8;}

.intro-wrapper {
  margin-bottom: 50px;
}

p {
  font-size: 1em;
  color: gray;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 95%;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: black;
  font-family: var(--font-main);
  font-size: 1em;
}

.link:hover {
  color: #306F5D;
  font-weight: 700;  
}