:root {
    --font-main: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
    --font-title: 'Bebas Neue', sans-serif;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.header {
    top: 6%;
    left: 50%;
    margin: 0;
    font-size: 6rem;
    text-transform: uppercase;
    font-family: var(--font-title);
}