.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.header {
    top: 6%;
    left: 50%;
    margin: 0;
    font-size: 6rem;
    text-transform: uppercase;
    font-family: var(--font-title);
}