.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.header {
    top: 6%;
    left: 50%;
    margin: 0;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: var(--font-title);
    text-align: center;
}

/* Media Query for Mobile (Max width: 480px) */
@media (max-width: 480px) {
    .header-wrapper {
        padding: 15px;
    }
}