:root {
    --font-main: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
    --font-title: 'Bebas Neue', sans-serif;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 1rem;
}

.logo {
    font-weight: 700;
    font-size: 4vh;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: var(--font-title);
}

.nav-item > a {
    font-weight: 500;
    font-size: 3vh;
}

.nav-item > a:hover {
    font-weight: 700;
    color: #306F5D;
}